<!-- Site footer -->
<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
<footer class="site-footer">
    <div class = "container">

        <div class="grid-container">
            <div class="grid-item">
                <img src="/Image/HIVE_LOGO.png" class = "logo-img">
            </div>
            <div class="grid-item inner-grid-container">
                    
                <div class="grid-item"><a href="">About Us</a></div>   
                <div class="grid-item"><a href="">Document Privacy Policy</a></div>   
                <div class="grid-item"><a href="">Privacy Policy</a></div>   
                <div class="grid-item"><a href="">Terms and Condition</a></div>   
                <div class="grid-item"><a href="">Contact us</a></div>   
                <div class="grid-item"><a href="">The Un-License</a></div>
                <div class="grid-item"><a href="">Cookie Policy</a></div>
            </div>

            <div class="grid-item">
                <div class = "social-buttons">
                    <a href= ""><i class="fab fa-instagram circle-icon"></i></a>
                    <a href= ""><i class="fab fa-facebook circle-icon"></i></a>
                    <a href= ""><i class="fab fa-linkedin-in circle-icon"></i></a>
                    <a href= ""><i class="fab fa-twitter circle-icon"></i></a>
                </div>
            </div>   
        </div>
        <hr>

        <p>Copyright © 2023 | PUP HIVE | Polytechnic University of the Philippines | All rights reserved</p>

    </div>
</footer>