@using MudBlazor
<MudForm Class="my-1 mx-4">
    <div class="my-1 d-flex block justify-left align-center">
        <MudTextField AdornmentIcon="@Icons.Rounded.Search" Adornment="Adornment.End" AdornmentColor="Color.Secondary" Class="mx-2"
                      @bind-Value="SearchTerm" Label="Search article🤔"
                      Clearable="true"
                      Variant="Variant.Outlined" Margin="Margin.Dense"
                      OnKeyUp="HandleSearch" />
        <MudButton Class="rounded-0" Disabled="@_processing" Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true"
                   Size="Size.Medium" OnClick="HandleSearch">
            @if (_processing)
            {
                <MudText>Searching..</MudText>
                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
            }
            else
            {
                <MudText>Search</MudText>
            }
        </MudButton>
    </div>
</MudForm>
@code {
    private string SearchTerm { get; set; } = string.Empty;
    private bool _processing = false;
    [Parameter]
    public EventCallback<string> OnSearch { get; set; }
    private async Task HandleSearch()
    {
        _processing = true;
        await Task.Delay(2000);
        _processing = false;
        await OnSearch.InvokeAsync(SearchTerm);
    }
}