@inject IDocumentService DocumentService
@inject IActivityLog ActivityLog
@inject ISnackbar Snack
@inject AuthenticationStateProvider AuthenticationStateProvider
<MudDialog DisableSidePadding="true">
    <DialogContent>
        <MudContainer Style="max-height: 400px; overflow-y: scroll">
            <MudText Typo="Typo.body2"> [Document /Document's]</MudText>
            <ul>
                @foreach (var document in Documents)
                {
                    <li>
                        <MudText Typo="Typo.caption" Align="Align.Justify">
                            🤙 @document.Title
                        </MudText>
                    </li>
                    <MudDivider Class="my-1" />
                }
            </ul>
            <MudDivider Class="my-1" />
            <MudText Align="Align.Center" Typo="Typo.caption">
                Do you really want to restore these documents ?
            </MudText>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Text" Color="Color.Error" OnClick="OnCancel"> Cancel </MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="OnOkay"> REstore </MudButton>
    </DialogActions>
</MudDialog>
@code {

    [CascadingParameter]
    MudDialogInstance DialogInstance { get; set; } = new();
    [CascadingParameter]
    Task<AuthenticationState>? Authenticate { get; set; }
    [Parameter]
    public HashSet<Document> Documents { get; set; } = new();
    [Parameter] public string? Actor { get; set; }
    [Parameter] public string? Role { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthenticationStateProvider;
        Authenticate = customAuthStateProvider.GetAuthenticationStateAsync();
        if (Authenticate != null)
        {
            var account = await Authenticate;
            if (account.User.Identity?.Name != null)
            {
                Actor = account.User.Identity.Name;
                Role = account.User.IsInRole("Administrator") ? "Administrator" : "User";
            }
        }
    }
    private async void OnOkay()
    {
        foreach (var document in Documents)
        {
            try
            {
                var response = await DocumentService.RestoreDocument(document.Id);
                if (response.IsSuccessStatusCode)
                {
                    await ActivityLog.WriteLog($"{Actor}",
                   $"{Actor}, restore document entitled {document.Title}",
                   "RESTORE",
                   $"{Role}");
                }
            }
            catch (Exception exception)
            {
                Console.WriteLine($"{exception.Message}");
            }
        }
        Snack.Add("Document / Documents restore from Trash", Severity.Success);
        DialogInstance.Close(DialogResult.Ok(true));
    }
    private void OnCancel() => DialogInstance.Close(DialogResult.Cancel());
}