
<div class="alert alert-secondary mt-4">
    <MudText Typo="Typo.body1" Align="Align.Center" > @Title </MudText>
    <span class="text-nowrap">
        <MudAlert  Severity="Severity.Info" Dense="true"><a target="_blank" class="font-weight-bold link-dark" href="https://docs.google.com/forms/d/e/1FAIpQLSf1BcIELJXZpTSBl5Cq8YUec7boLslqsxUBSmfRA_XhXqQmGA/viewform">
             Please take our <strong> brief survey </strong> and tell us what you think.
        </a></MudAlert>
    </span>
</div>
@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}